@CHARSET "UTF-8";

.detail-content{}
.detail-content .header-right{
	height: 118px;
    width: 742px;
    padding: 10px;
    position: relative;
}
.detail-content .header-right blockquote{
	position: absolute;
    bottom: 0;
    border: none;
}

.processing-box{}
.processing-box .alert-info{float:left;padding: 8px; }
.processing-box .processing-box-bar-container{margin-left: 80px;position: relative;}
.processing-box .processing-box-bar-container .progress-bar-text{color: #fff;line-height: 38px;margin-left: 10px;position: absolute;text-shadow: 0 1px 2px #000;}
.processing-box .processing-box-bar-container .progress{display: inline-block;height: 38px;width: 100%;}

.procedures-box{}
.procedures-box h4{}
.procedures-box ol{margin: 0; list-style-position: inside; padding-left: ; }
.procedures-box ol li{clear: both; position: relative; list-style-position: inside; vertical-align: sub; }
.procedures-box ol li .procedure-desc{padding: 5px 200px 5px 5px; display: inline-block; width: 66%; vertical-align: middle; }
.procedures-box ol li .procedure-desc span.label{display:block;}
.procedures-box ol li .procedure-tools{display: inline-block; float: right; position: absolute; right: 5px; text-align:right; line-height: 30px; vertical-align: middle; }
.procedure-track-popover{width: auto;}

.procedure-done-form{}
.procedure-done-form textarea{width: 500px;}