.icon-big{background-image:url(icons_big.png);background-repeat:no-repeat;display:inline-block;height:36px; width: 36px;vertical-align:text-top;}
.icon-white.icon-big{background-image:url(icons_big_white.png);}
.icon-big.icon-glass{background-position:0px 0px;}
.icon-big.icon-leaf{background-position:-36px 0px;}
.icon-big.icon-dog{background-position:-72px 0px;}
.icon-big.icon-user{background-position:-108px 0px;}
.icon-big.icon-girl{background-position:-144px 0px;}
.icon-big.icon-car{background-position:-180px 0px;}
.icon-big.icon-user_add{background-position:-216px 0px;}
.icon-big.icon-user_remove{background-position:-252px 0px;}
.icon-big.icon-film{background-position:-288px 0px;}
.icon-big.icon-magic{background-position:-324px 0px;}
.icon-big.icon-envelope{background-position:-360px 0px;}
.icon-big.icon-camera{background-position:-396px 0px;}
.icon-big.icon-heart{background-position:-432px 0px;}
.icon-big.icon-beach_umbrella{background-position:-468px 0px;}
.icon-big.icon-train{background-position:-504px 0px;}
.icon-big.icon-print{background-position:-540px 0px;}
.icon-big.icon-bin{background-position:-576px 0px;}
.icon-big.icon-music{background-position:-612px 0px;}
.icon-big.icon-note{background-position:-648px 0px;}
.icon-big.icon-cogwheel{background-position:-684px 0px;}
.icon-big.icon-home{background-position:0px -36px;}
.icon-big.icon-snowflake{background-position:-36px -36px;}
.icon-big.icon-fire{background-position:-72px -36px;}
.icon-big.icon-cogwheels{background-position:-108px -36px;}
.icon-big.icon-parents{background-position:-144px -36px;}
.icon-big.icon-binoculars{background-position:-180px -36px;}
.icon-big.icon-road{background-position:-216px -36px;}
.icon-big.icon-search{background-position:-252px -36px;}
.icon-big.icon-cars{background-position:-288px -36px;}
.icon-big.icon-notes_2{background-position:-324px -36px;}
.icon-big.icon-pencil{background-position:-360px -36px;}
.icon-big.icon-bus{background-position:-396px -36px;}
.icon-big.icon-wifi_alt{background-position:-432px -36px;}
.icon-big.icon-luggage{background-position:-468px -36px;}
.icon-big.icon-old_man{background-position:-504px -36px;}
.icon-big.icon-woman{background-position:-540px -36px;}
.icon-big.icon-file{background-position:-576px -36px;}
.icon-big.icon-credit{background-position:-612px -36px;}
.icon-big.icon-airplane{background-position:-648px -36px;}
.icon-big.icon-notes{background-position:-684px -36px;}
.icon-big.icon-stats{background-position:0px -72px;}
.icon-big.icon-charts{background-position:-36px -72px;}
.icon-big.icon-pie_chart{background-position:-72px -72px;}
.icon-big.icon-group{background-position:-108px -72px;}
.icon-big.icon-keys{background-position:-144px -72px;}
.icon-big.icon-calendar{background-position:-180px -72px;}
.icon-big.icon-router{background-position:-216px -72px;}
.icon-big.icon-camera_small{background-position:-252px -72px;}
.icon-big.icon-dislikes{background-position:-288px -72px;}
.icon-big.icon-star{background-position:-324px -72px;}
.icon-big.icon-link{background-position:-360px -72px;}
.icon-big.icon-eye_open{background-position:-396px -72px;}
.icon-big.icon-eye_close{background-position:-432px -72px;}
.icon-big.icon-alarm{background-position:-468px -72px;}
.icon-big.icon-clock{background-position:-504px -72px;}
.icon-big.icon-stopwatch{background-position:-540px -72px;}
.icon-big.icon-projector{background-position:-576px -72px;}
.icon-big.icon-history{background-position:-612px -72px;}
.icon-big.icon-truck{background-position:-648px -72px;}
.icon-big.icon-cargo{background-position:-684px -72px;}
.icon-big.icon-compass{background-position:0px -108px;}
.icon-big.icon-keynote{background-position:-36px -108px;}
.icon-big.icon-attach{background-position:-72px -108px;}
.icon-big.icon-power{background-position:-108px -108px;}
.icon-big.icon-lightbulb{background-position:-144px -108px;}
.icon-big.icon-tag{background-position:-180px -108px;}
.icon-big.icon-tags{background-position:-216px -108px;}
.icon-big.icon-cleaning{background-position:-252px -108px;}
.icon-big.icon-ruller{background-position:-288px -108px;}
.icon-big.icon-gift{background-position:-324px -108px;}
.icon-big.icon-umbrella{background-position:-360px -108px;}
.icon-big.icon-book{background-position:-396px -108px;}
.icon-big.icon-bookmark{background-position:-432px -108px;}
.icon-big.icon-signal{background-position:-468px -108px;}
.icon-big.icon-cup{background-position:-504px -108px;}
.icon-big.icon-stroller{background-position:-540px -108px;}
.icon-big.icon-headphones{background-position:-576px -108px;}
.icon-big.icon-headset{background-position:-612px -108px;}
.icon-big.icon-warning_sign{background-position:-648px -108px;}
.icon-big.icon-signal{background-position:-684px -108px;}
.icon-big.icon-retweet{background-position:0px -144px;}
.icon-big.icon-refresh{background-position:-36px -144px;}
.icon-big.icon-roundabout{background-position:-72px -144px;}
.icon-big.icon-random{background-position:-108px -144px;}
.icon-big.icon-heat{background-position:-144px -144px;}
.icon-big.icon-repeat{background-position:-180px -144px;}
.icon-big.icon-display{background-position:-216px -144px;}
.icon-big.icon-log_book{background-position:-252px -144px;}
.icon-big.icon-adress_book{background-position:-288px -144px;}
.icon-big.icon-magnet{background-position:-324px -144px;}
.icon-big.icon-table{background-position:-360px -144px;}
.icon-big.icon-adjust{background-position:-396px -144px;}
.icon-big.icon-tint{background-position:-432px -144px;}
.icon-big.icon-crop{background-position:-468px -144px;}
.icon-big.icon-vector_path_square{background-position:-504px -144px;}
.icon-big.icon-vector_path_circle{background-position:-540px -144px;}
.icon-big.icon-vector_path_polygon{background-position:-576px -144px;}
.icon-big.icon-vector_path_line{background-position:-612px -144px;}
.icon-big.icon-vector_path_curve{background-position:-648px -144px;}
.icon-big.icon-vector_path_all{background-position:-684px -144px;}
.icon-big.icon-font{background-position:0px -180px;}
.icon-big.icon-italic{background-position:-36px -180px;}
.icon-big.icon-bold{background-position:-72px -180px;}
.icon-big.icon-text_underline{background-position:-108px -180px;}
.icon-big.icon-text_strike{background-position:-144px -180px;}
.icon-big.icon-text_height{background-position:-180px -180px;}
.icon-big.icon-text_width{background-position:-216px -180px;}
.icon-big.icon-text_resize{background-position:-252px -180px;}
.icon-big.icon-left_indent{background-position:-288px -180px;}
.icon-big.icon-right_indent{background-position:-324px -180px;}
.icon-big.icon-align_left{background-position:-360px -180px;}
.icon-big.icon-align_center{background-position:-396px -180px;}
.icon-big.icon-align_right{background-position:-432px -180px;}
.icon-big.icon-justify{background-position:-468px -180px;}
.icon-big.icon-list{background-position:-504px -180px;}
.icon-big.icon-text_smaller{background-position:-540px -180px;}
.icon-big.icon-text_bigger{background-position:-576px -180px;}
.icon-big.icon-embed{background-position:-612px -180px;}
.icon-big.icon-embed_close{background-position:-648px -180px;}
.icon-big.icon-adjust{background-position:-684px -180px;}
.icon-big.icon-message_full{background-position:0px -216px;}
.icon-big.icon-message_empty{background-position:-36px -216px;}
.icon-big.icon-message_in{background-position:-72px -216px;}
.icon-big.icon-message_out{background-position:-108px -216px;}
.icon-big.icon-message_plus{background-position:-144px -216px;}
.icon-big.icon-message_minus{background-position:-180px -216px;}
.icon-big.icon-message_ban{background-position:-216px -216px;}
.icon-big.icon-message_flag{background-position:-252px -216px;}
.icon-big.icon-message_lock{background-position:-288px -216px;}
.icon-big.icon-message_new{background-position:-324px -216px;}
.icon-big.icon-inbox{background-position:-360px -216px;}
.icon-big.icon-inbox_plus{background-position:-396px -216px;}
.icon-big.icon-inbox_minus{background-position:-432px -216px;}
.icon-big.icon-inbox_lock{background-position:-468px -216px;}
.icon-big.icon-inbox_in{background-position:-504px -216px;}
.icon-big.icon-inbox_out{background-position:-540px -216px;}
.icon-big.icon-computer_locked{background-position:-576px -216px;}
.icon-big.icon-computer_service{background-position:-612px -216px;}
.icon-big.icon-computer_proces{background-position:-648px -216px;}
.icon-big.icon-phone{background-position:-684px -216px;}
.icon-big.icon-database_lock{background-position:0px -252px;}
.icon-big.icon-database_plus{background-position:-36px -252px;}
.icon-big.icon-database_minus{background-position:-72px -252px;}
.icon-big.icon-database_ban{background-position:-108px -252px;}
.icon-big.icon-folder_open{background-position:-144px -252px;}
.icon-big.icon-folder_plus{background-position:-180px -252px;}
.icon-big.icon-folder_minus{background-position:-216px -252px;}
.icon-big.icon-folder_lock{background-position:-252px -252px;}
.icon-big.icon-folder_flag{background-position:-288px -252px;}
.icon-big.icon-folder_new{background-position:-324px -252px;}
.icon-big.icon-check{background-position:-360px -252px;}
.icon-big.icon-edit{background-position:-396px -252px;}
.icon-big.icon-new_window{background-position:-432px -252px;}
.icon-big.icon-more_windows{background-position:-468px -252px;}
.icon-big.icon-show_big_thumbnails{background-position:-504px -252px;}
.icon-big.icon-show_thumbnails{background-position:-540px -252px;}
.icon-big.icon-show_thumbnails_with_lines{background-position:-576px -252px;}
.icon-big.icon-show_lines{background-position:-612px -252px;}
.icon-big.icon-playlist{background-position:-648px -252px;}
.icon-big.icon-picture{background-position:-684px -252px;}
.icon-big.icon-imac{background-position:0px -288px;}
.icon-big.icon-macbook{background-position:-36px -288px;}
.icon-big.icon-ipad{background-position:-72px -288px;}
.icon-big.icon-iphone{background-position:-108px -288px;}
.icon-big.icon-iphone_transfer{background-position:-144px -288px;}
.icon-big.icon-iphone_exchange{background-position:-180px -288px;}
.icon-big.icon-ipod{background-position:-216px -288px;}
.icon-big.icon-ipod_shuffle{background-position:-252px -288px;}
.icon-big.icon-ear_plugs{background-position:-288px -288px;}
.icon-big.icon-albums{background-position:-324px -288px;}
.icon-big.icon-step_backward{background-position:-360px -288px;}
.icon-big.icon-fast_backward{background-position:-396px -288px;}
.icon-big.icon-rewind{background-position:-432px -288px;}
.icon-big.icon-play{background-position:-468px -288px;}
.icon-big.icon-pause{background-position:-504px -288px;}
.icon-big.icon-stop{background-position:-540px -288px;}
.icon-big.icon-forward{background-position:-576px -288px;}
.icon-big.icon-fast_forward{background-position:-612px -288px;}
.icon-big.icon-step_forward{background-position:-648px -288px;}
.icon-big.icon-eject{background-position:-684px -288px;}
.icon-big.icon-facetime_video{background-position:0px -324px;}
.icon-big.icon-download_alt{background-position:-36px -324px;}
.icon-big.icon-mute{background-position:-72px -324px;}
.icon-big.icon-volume_down{background-position:-108px -324px;}
.icon-big.icon-volume_up{background-position:-144px -324px;}
.icon-big.icon-screenshot{background-position:-180px -324px;}
.icon-big.icon-move{background-position:-216px -324px;}
.icon-big.icon-more{background-position:-252px -324px;}
.icon-big.icon-brightness_reduce{background-position:-288px -324px;}
.icon-big.icon-brightness_increase{background-position:-324px -324px;}
.icon-big.icon-circle_plus{background-position:-360px -324px;}
.icon-big.icon-circle_minus{background-position:-396px -324px;}
.icon-big.icon-circle_remove{background-position:-432px -324px;}
.icon-big.icon-circle_ok{background-position:-468px -324px;}
.icon-big.icon-circle_question_mark{background-position:-504px -324px;}
.icon-big.icon-circle_info{background-position:-540px -324px;}
.icon-big.icon-circle_exclamation_mark{background-position:-576px -324px;}
.icon-big.icon-remove{background-position:-612px -324px;}
.icon-big.icon-ok{background-position:-648px -324px;}
.icon-big.icon-ban{background-position:-684px -324px;}
.icon-big.icon-download{background-position:0px -360px;}
.icon-big.icon-upload{background-position:-36px -360px;}
.icon-big.icon-shopping_cart{background-position:-72px -360px;}
.icon-big.icon-lock{background-position:-108px -360px;}
.icon-big.icon-unlock{background-position:-144px -360px;}
.icon-big.icon-electricity{background-position:-180px -360px;}
.icon-big.icon-ok_2{background-position:-216px -360px;}
.icon-big.icon-remove_2{background-position:-252px -360px;}
.icon-big.icon-cart_out{background-position:-288px -360px;}
.icon-big.icon-cart_in{background-position:-324px -360px;}
.icon-big.icon-left_arrow{background-position:-360px -360px;}
.icon-big.icon-right_arrow{background-position:-396px -360px;}
.icon-big.icon-down_arrow{background-position:-432px -360px;}
.icon-big.icon-up_arrow{background-position:-468px -360px;}
.icon-big.icon-resize_small{background-position:-504px -360px;}
.icon-big.icon-resize_full{background-position:-540px -360px;}
.icon-big.icon-circle_arrow_left{background-position:-576px -360px;}
.icon-big.icon-circle_arrow_right{background-position:-612px -360px;}
.icon-big.icon-circle_arrow_top{background-position:-648px -360px;}
.icon-big.icon-circle_arrow_down{background-position:-684px -360px;}
.icon-big.icon-play_button{background-position:0px -396px;}
.icon-big.icon-unshare{background-position:-36px -396px;}
.icon-big.icon-share{background-position:-72px -396px;}
.icon-big.icon-thin_right_arrow{background-position:-108px -396px;}
.icon-big.icon-thin_arrow_left{background-position:-144px -396px;}
.icon-big.icon-bluetooth{background-position:-180px -396px;}
.icon-big.icon-euro{background-position:-216px -396px;}
.icon-big.icon-usd{background-position:-252px -396px;}
.icon-big.icon-bp{background-position:-288px -396px;}
.icon-big.icon-retweet_2{background-position:-324px -396px;}
.icon-big.icon-moon{background-position:-360px -396px;}
.icon-big.icon-sun{background-position:-396px -396px;}
.icon-big.icon-cloud{background-position:-432px -396px;}
.icon-big.icon-direction{background-position:-468px -396px;}
.icon-big.icon-brush{background-position:-504px -396px;}
.icon-big.icon-pen{background-position:-540px -396px;}
.icon-big.icon-zoom_in{background-position:-576px -396px;}
.icon-big.icon-zoom_out{background-position:-612px -396px;}
.icon-big.icon-pin{background-position:-648px -396px;}
.icon-big.icon-riflescope{background-position:-684px -396px;}
.icon-big.icon-rotation_lock{background-position:0px -432px;}
.icon-big.icon-flash{background-position:-36px -432px;}
.icon-big.icon-google_maps{background-position:-72px -432px;}
.icon-big.icon-anchor{background-position:-108px -432px;}
.icon-big.icon-conversation{background-position:-144px -432px;}
.icon-big.icon-chat{background-position:-180px -432px;}
.icon-big.icon-male{background-position:-216px -432px;}
.icon-big.icon-female{background-position:-252px -432px;}
.icon-big.icon-asterisk{background-position:-288px -432px;}
.icon-big.icon-divide{background-position:-324px -432px;}
.icon-big.icon-snorkel_diving{background-position:-360px -432px;}
.icon-big.icon-scuba_diving{background-position:-396px -432px;}
.icon-big.icon-oxygen_bottle{background-position:-432px -432px;}
.icon-big.icon-fins{background-position:-468px -432px;}
.icon-big.icon-fishes{background-position:-504px -432px;}
.icon-big.icon-boat{background-position:-540px -432px;}
.icon-big.icon-delete_point{background-position:-576px -432px;}
.icon-big.icon-sheriffs_-star{background-position:-612px -432px;}
.icon-big.icon-qrcode{background-position:-648px -432px;}
.icon-big.icon-barcode{background-position:-684px -432px;}
.icon-big.icon-pool{background-position:0px -468px;}
.icon-big.icon-buoy{background-position:-36px -468px;}
.icon-big.icon-spade{background-position:-72px -468px;}
.icon-big.icon-bank{background-position:-108px -468px;}
.icon-big.icon-vcard{background-position:-144px -468px;}
.icon-big.icon-electrical_plug{background-position:-180px -468px;}
.icon-big.icon-flag{background-position:-216px -468px;}
.icon-big.icon-credit_card{background-position:-252px -468px;}
.icon-big.icon-keyboard_wireless{background-position:-288px -468px;}
.icon-big.icon-keyboard_wired{background-position:-324px -468px;}
.icon-big.icon-shield{background-position:-360px -468px;}
.icon-big.icon-ring{background-position:-396px -468px;}
.icon-big.icon-cake{background-position:-432px -468px;}
.icon-big.icon-drink{background-position:-468px -468px;}
.icon-big.icon-beer{background-position:-504px -468px;}
.icon-big.icon-fast_food{background-position:-540px -468px;}
.icon-big.icon-cutlery{background-position:-576px -468px;}
.icon-big.icon-pizza{background-position:-612px -468px;}
.icon-big.icon-birthday_cake{background-position:-648px -468px;}
.icon-big.icon-tablet{background-position:-684px -468px;}
.icon-big.icon-settings{background-position:0px -504px;}
.icon-big.icon-bullets{background-position:-36px -504px;}
.icon-big.icon-cardio{background-position:-72px -504px;}
.icon-big.icon-t-shirt{background-position:-108px -504px;}
.icon-big.icon-pants{background-position:-144px -504px;}
.icon-big.icon-sweater{background-position:-180px -504px;}
.icon-big.icon-fabric{background-position:-216px -504px;}
.icon-big.icon-leather{background-position:-252px -504px;}
.icon-big.icon-scissors{background-position:-288px -504px;}
.icon-big.icon-podium{background-position:-324px -504px;}
.icon-big.icon-skull{background-position:-360px -504px;}
.icon-big.icon-celebration{background-position:-396px -504px;}
.icon-big.icon-tea_kettle{background-position:-432px -504px;}
.icon-big.icon-french_press{background-position:-468px -504px;}
.icon-big.icon-coffe_cup{background-position:-504px -504px;}
.icon-big.icon-pot{background-position:-540px -504px;}
.icon-big.icon-grater{background-position:-576px -504px;}
.icon-big.icon-kettle{background-position:-612px -504px;}
.icon-big.icon-hospital{background-position:-648px -504px;}
.icon-big.icon-hospital_h{background-position:-684px -504px;}
.icon-big.icon-microphone{background-position:0px -540px;}
.icon-big.icon-webcam{background-position:-36px -540px;}
.icon-big.icon-temple_christianity_church{background-position:-72px -540px;}
.icon-big.icon-temple_islam{background-position:-108px -540px;}
.icon-big.icon-temple_hindu{background-position:-144px -540px;}
.icon-big.icon-temple_buddhist{background-position:-180px -540px;}
.icon-big.icon-electrical_socket_eu{background-position:-216px -540px;}
.icon-big.icon-electrical_socket_us{background-position:-252px -540px;}
.icon-big.icon-bomb{background-position:-288px -540px;}
.icon-big.icon-comments{background-position:-324px -540px;}
.icon-big.icon-flower{background-position:-360px -540px;}
.icon-big.icon-baseball{background-position:-396px -540px;}
.icon-big.icon-rugby{background-position:-432px -540px;}
.icon-big.icon-ax{background-position:-468px -540px;}
.icon-big.icon-table_tennis{background-position:-504px -540px;}
.icon-big.icon-bowling{background-position:-540px -540px;}
.icon-big.icon-tree_conifer{background-position:-576px -540px;}
.icon-big.icon-tree_deciduous{background-position:-612px -540px;}
.icon-big.icon-more-items{background-position:-648px -540px;}
.icon-big.icon-sort{background-position:-684px -540px;}
.icon-big.icon-filter{background-position:0px -576px;}
.icon-big.icon-gamepad{background-position:-36px -576px;}
.icon-big.icon-playing_dices{background-position:-72px -576px;}
.icon-big.icon-calculator{background-position:-108px -576px;}
.icon-big.icon-tie{background-position:-144px -576px;}
.icon-big.icon-wallet{background-position:-180px -576px;}
.icon-big.icon-share{background-position:-216px -576px;}
.icon-big.icon-sampler{background-position:-252px -576px;}
.icon-big.icon-piano{background-position:-288px -576px;}
.icon-big.icon-web_browser{background-position:-324px -576px;}
.icon-big.icon-blog{background-position:-360px -576px;}
.icon-big.icon-dashboard{background-position:-396px -576px;}
.icon-big.icon-certificate{background-position:-432px -576px;}
.icon-big.icon-bell{background-position:-468px -576px;}
.icon-big.icon-candle{background-position:-504px -576px;}
.icon-big.icon-pin_classic{background-position:-540px -576px;}
.icon-big.icon-iphone_shake{background-position:-576px -576px;}
.icon-big.icon-pin_flag{background-position:-612px -576px;}
.icon-big.icon-turtle{background-position:-648px -576px;}
.icon-big.icon-rabbit{background-position:-684px -576px;}
.icon-big.icon-globe{background-position:0px -612px;}
.icon-big.icon-briefcase{background-position:-36px -612px;}
.icon-big.icon-hdd{background-position:-72px -612px;}
.icon-big.icon-thumbs_up{background-position:-108px -612px;}
.icon-big.icon-thumbs_down{background-position:-144px -612px;}
.icon-big.icon-hand_right{background-position:-180px -612px;}
.icon-big.icon-hand_left{background-position:-216px -612px;}
.icon-big.icon-hand_up{background-position:-252px -612px;}
.icon-big.icon-hand_down{background-position:-288px -612px;}
.icon-big.icon-fullscreen{background-position:-324px -612px;}
.icon-big.icon-shopping_bag{background-position:-360px -612px;}
.icon-big.icon-book_open{background-position:-396px -612px;}
.icon-big.icon-nameplate{background-position:-432px -612px;}
.icon-big.icon-nameplate_alt{background-position:-468px -612px;}
.icon-big.icon-vases{background-position:-504px -612px;}
.icon-big.icon-announcement{background-position:-540px -612px;}
.icon-big.icon-dumbbell{background-position:-576px -612px;}
.icon-big.icon-suitcase{background-position:-612px -612px;}
.icon-big.icon-file_import{background-position:-648px -612px;}
.icon-big.icon-file_export{background-position:-684px -612px;}
.icon-big.icon-pinterest{background-position:0px -648px;}
.icon-big.icon-dropbox{background-position:-36px -648px;}
.icon-big.icon-google+_alt{background-position:-72px -648px;}
.icon-big.icon-jolicloud{background-position:-108px -648px;}
.icon-big.icon-yahoo{background-position:-144px -648px;}
.icon-big.icon-blogger{background-position:-180px -648px;}
.icon-big.icon-picasa{background-position:-216px -648px;}
.icon-big.icon-amazon{background-position:-252px -648px;}
.icon-big.icon-tumblr{background-position:-288px -648px;}
.icon-big.icon-wordpress{background-position:-324px -648px;}
.icon-big.icon-instapaper{background-position:-360px -648px;}
.icon-big.icon-evernote{background-position:-396px -648px;}
.icon-big.icon-xing{background-position:-432px -648px;}
.icon-big.icon-zootool{background-position:-468px -648px;}
.icon-big.icon-dribbble{background-position:-504px -648px;}
.icon-big.icon-deviantart{background-position:-540px -648px;}
.icon-big.icon-read_it_later{background-position:-576px -648px;}
.icon-big.icon-linked_in{background-position:-612px -648px;}
.icon-big.icon-forrst{background-position:-648px -648px;}
.icon-big.icon-pinboard{background-position:-684px -648px;}
.icon-big.icon-behance{background-position:0px -684px;}
.icon-big.icon-github{background-position:-36px -684px;}
.icon-big.icon-youtube{background-position:-72px -684px;}
.icon-big.icon-skitch{background-position:-108px -684px;}
.icon-big.icon-4square{background-position:-144px -684px;}
.icon-big.icon-quora{background-position:-180px -684px;}
.icon-big.icon-google_plus{background-position:-216px -684px;}
.icon-big.icon-spootify{background-position:-252px -684px;}
.icon-big.icon-stumbleupon{background-position:-288px -684px;}
.icon-big.icon-readability{background-position:-324px -684px;}
.icon-big.icon-facebook{background-position:-360px -684px;}
.icon-big.icon-twitter_t{background-position:-396px -684px;}
.icon-big.icon-twitter{background-position:-432px -684px;}
.icon-big.icon-buzz{background-position:-468px -684px;}
.icon-big.icon-vimeo{background-position:-504px -684px;}
.icon-big.icon-flickr{background-position:-540px -684px;}
.icon-big.icon-last_fm{background-position:-576px -684px;}
.icon-big.icon-rss{background-position:-612px -684px;}
.icon-big.icon-skype{background-position:-648px -684px;}
.icon-big.icon-e-mail{background-position:-684px -684px;}
