@CHARSET "UTF-8";

/* rewrite bootstrap */
.tooltip {font-size: 12px;}

#site-topbar{margin-bottom:10px;}
.navbar-container{width: 99% !important;}

.control-group .help-inline.error,.control-group .help-block.error{display: none;}
.control-group.error .help-inline.error{display: inline-block;}
.control-group.error .help-block.error{display: block;}

#home_wall{}
#home_wall:after{clear: both;}
#home_wall .home_wall_item{display: block;float: left; margin:1px;}

.left-content{}
.left-content .left-item{margin-bottom:10px;}

.right-content{}
.right-content .right-item{margin-bottom:10px;}

.detail-content{}
.detail-content .header-right{
	height: 118px;
    width: 742px;
    padding: 10px;
    position: relative;
}
.detail-content .header-right blockquote{
	position: absolute;
    bottom: 0;
    border: none;
}

.procedures-box{}
.procedures-box h4{}
.procedures-box ol{margin: 0; list-style-position: inside; padding-left: ; }
.procedures-box ol li{clear: both; position: relative; list-style-position: inside; vertical-align: sub; }
.procedures-box ol li .procedure-desc:hover{background-color: #eee; border-radius: 4px;}
.procedures-box ol li .procedure-desc{padding: 5px 200px 5px 5px; display: inline-block; width: 66%; vertical-align: middle; }
.procedures-box ol li .procedure-tools{display: inline-block; float: right; position: absolute; right: 5px; line-height: 30px; vertical-align: middle; }
.procedure-track-popover{width: auto;}